{% extends 'base-backend.html.twig' %}

{% block title %}Playlist index{% endblock %}

{% block body %}
    <h1>Playlist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title_playlist</th>
                <th>Description_playlist</th>
                <th>ImageName_playlist</th>
                <th>CreatedAt_playlist</th>
                <th>Slug_playlist</th>
                <th>UpdateAt_playlist</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for playlist in playlists %}
            <tr>
                <td>{{ playlist.id }}</td>
                <td>{{ playlist.titlePlaylist }}</td>
                <td>{{ playlist.descriptionPlaylist }}</td>
                <td>{{ playlist.imageNamePlaylist }}</td>
                <td>{{ playlist.createdAtPlaylist ? playlist.createdAtPlaylist|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ playlist.slugPlaylist }}</td>
                <td>{{ playlist.updateAtPlaylist ? playlist.updateAtPlaylist|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_playlist_show', {'id': playlist.id}) }}">show</a>
                    <a href="{{ path('app_admin_playlist_edit', {'id': playlist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_playlist_new') }}">Create new</a>
{% endblock %}
