{% extends 'base-backend.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    <h1>Category index</h1>
    <a href="{{ path('app_admin_category_new') }}" class="btn btn-success"><i class="aligne-middle" data-feather="plus"></i></a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ImageName_category</th>
                <th>UpdatedAt_category</th>
                <th>Slug_category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.imageNameCategory }}</td>
                <td>{{ category.updatedAtCategory ? category.updatedAtCategory|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.slugCategory }}</td>
                <td>
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="btn btn-warning"><i class="aligne-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}"class="btn btn-success" ><i class="aligne-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_category_new') }}">Create new</a>
{% endblock %}
